/* Styles for the form */
.formComponents {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
  }
  
  /* Styles for the text fields */
  .formComponents .MuiInputBase-input {
    font-size: 16px; /* Increase the font size */
    padding: 10px; /* Add some padding */
    width: 100%; /* Make the text fields take up the full width of their parent container */
  }

  .customButton {
    background-color: rgb(92, 84, 112);
    color: white; /* You may want to set the text color to ensure it's readable on the new background */
  }
  
  /* Styles for screens that are 600px or smaller */
  @media (max-width: 600px) {
    .formComponents {
      width: 100%; /* Increase the width for smaller screens */
      padding: 0 20px; /* Add some padding on the sides */
    }
  }